.section_title_title__vFiXQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--size-1x);
    padding: 0 var(--size-1x);
}

*, :after, :before {
    box-sizing: border-box;
}
:where(:not(html,iframe,canvas,img,svg,video,audio):not(svg *,symbol *)) {
    all: unset;
    display: revert;
}
user agent stylesheet
div {
    display: block;
}

@media screen and (max-width: 767px)
<style>
.featured_project__alfJt:nth-of-type(n) {
    flex-direction: column;
}
<style>
.featured_project__alfJt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2rem;
    background-color: var(--background-dim2);
    border: 1px solid var(--primary-dark);
}
*, :after, :before {
    box-sizing: border-box;
}
:where(:not(html,iframe,canvas,img,svg,video,audio):not(svg *,symbol *)) {
    all: unset;
    display: revert;
}
user agent stylesheet
section {
    display: block;
}
style attribute {
    --grid-32: 19.84375px;
}