:root {
    font-size: 20px;
    box-sizing: inherit;    
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  
  body {    

  }
  
  .big-card {
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    justify-content: space-between;
    
    max-width: 500px;
    height: 300px;
    padding: 20px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgb(126 126 126 / 45%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
    margin-top: 10px;
}

.small-card{
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    justify-content: space-between;
    
    max-width: 500px;
    height: 300px;
    padding: 20px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgb(126 126 126 / 45%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
    margin-top: 10px;

}

  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }
  